*.swp
*.x
*.old
*.tmp
*.mp3
*.mp4
data/*
libs/proxy
libs/weather
libs/ytdownload
x
z
speech_py/__pycache__/
speech_py/models/
speech_py/pretrained_models/
*.wav
speech_py/list.py
speech_py/record.py
.python-version
.env